{% extends 'base.html.twig' %}

{% block title %}details
{% endblock %}

{% block body %}

	<div class="container my-5">
		<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
			<div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
				<h2 class="display-4 fw-bold lh-1">{{peinture.nom}}</h2>
				{% for categorie in peinture.categorie %}
					<span class="badge bg-secondary">{{ categorie.nom }}</span>
				{% endfor %}
				<p class="lead">{{peinture.description}}</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
					<ul class="d-flex list-unstyled mt-auto">
						<li class="d-flex align-items-center me-3">
							<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
							<h6>
								Date de realisation :
								<small>{{peinture.dateRealisation|date('d/m/Y')}}</small>
							</h6>
						</li>
						<li class="d-flex align-items-center">
							<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
							<h6>
								Largeur :
								<small>{{peinture.largeur}}</small>
							</h6>
						</li>
						<li class="d-flex align-items-center">
							<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
							<h6>
								Hauteur :
								<small>{{peinture.hauteur}}</small>
							</h6>
						</li>
						{% if peinture.enVente %}
							<li class="d-flex align-items-center">
								<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
								<h6 class="d-flex rb-0 text-uppercase">
									<strong>Peut etre vendu :</strong>
									<span class="ms-auto">
										<strong>{{peinture.prix}}

										</strong>
									</span>
								</h6>
							</li>
						{% endif %}

					</ul>
				</div>
			</div>
			<div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
				<img class="bd-placeholder-img" width="100%" height="250" style="background-image: url('img/img_1.jpg');" aria-hidden="true"><rect width="100%" height="100%" fill="#777"/>
			</div>
		</div>
	</div>


{% endblock %}
